
{% extends 'base.html' %}



{% block title %}Login{% endblock %}

{% block style %}

body {
  background-color: CBC3D9;
  font-family: 'Courier New', monospace;
  font-size: 32px;
}

h2 {
  color: 501BA8;
  text-align: center;
}


button {
  border: 501BA8;
  padding: 10px 32px; 
  color: black ; 
  font-size: 26px;
  text-align: center;
}

form {
  text-align: center;
}

{% endblock %}

{% block content %} 
<h2> Log In </h2>
{% load static %}
<img src="{% static 'images/computer.png' %}" alt="computer">
<form method = "post" >
  {% csrf_token %}
  {{ form.as_p }}
  <button type = "submit"> Log In </button>
</form> 
{% endblock %} 