{% extends 'base.html' %} 

{% block title %} Successfully initialised password {% endblock %} 

{%block style%}

body {
  background-color: BC8F8F ;
  font-family: 'Courier New', monospace;
  font-size: 25px;
}

h1 {
    color: black
    font-size: 28px;
    text-align: center;
}

p {
    color: black;
    text-align: center;
    font-size: 18px;
    font-family: 'Helvetica', sans-serif; 
}
a {
  color: white;
  text-align: center;
  font-size: 18px;
}

a:hover {
  cursor: pointer;
}


{% endblock %}

{% block content %} 
<h1> Successfully initialised password </h1> 
<p> Your new password has been set. You can log in now on the <a href ="{% url 'login' %}"> access page</a>.</p>
{% endblock %}  
